:root {
    --shadow-color: #FF9E9E;
    --shadow-color-light: white;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Archivo", sans-serif;
    background-color: #192824;
  }
  h2{
    margin: calc(1vh - 10px) auto 0 auto;
    font-size: 40px;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    display: block;
    height: auto;
    text-align: center;
  
  
   
    color: white;
    animation: neon 3s infinite;
  }
  h3{margin: calc(20vh - 10px) auto 0 auto;
    font-size: 40px;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    display: block;
    height: auto;
    text-align: center;
    
    
  
  
   
    color: white;
    animation: neon 3s infinite;}

  h1 {
    margin: calc(10vh - 10px) auto 0 auto;
    font-size: 65px;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    display: block;
    height: auto;
    text-align: center;
  
  
   
    color: white;
    animation: neon 3s infinite;
  }
  
  @keyframes neon {
    0% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 2px var(--shadow-color), 0 0 2px var(--shadow-color), 0 0 7px var(--shadow-color), 0 0 10px var(--shadow-color), 0 0 20px var(--shadow-color);
    }
    50% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
      0 0 40px var(--shadow-color), 0 0 5px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 10px var(--shadow-color);
    }
    100% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 3px var(--shadow-color), 0 0 10px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 2px var(--shadow-color);
    }
  }
  a {
      color:inherit;
      margin: calc(10vh - 10px) auto 0 auto;
    font-size: 65px;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    display: block;
    height: auto;
    text-align: center;
    
  
  
   
    color: white;
    animation: neon 3s infinite;
      
  }
  a :hover{
      color: rgb(71, 255, 71);
  }
  h5 {
      background-image: url(https://www.vhv.rs/dpng/d/453-4533340_spacex-logo-png-white-spacex-black-logo-png.png);
  }

 h4 {
    margin: calc(10vh - 10px) auto 0 auto;
        font-size: 20px;
        font-family: "Archivo Black", "Archivo", sans-serif;
        font-weight: normal;
        display: block;
        height: auto;
        text-align: center;
        text-transform: uppercase;
        
        
      
      
       
      color:slategray;
       animation:neon forwards;}
  
p {
  font-family: cast iron;
  color:inherit;
  margin: calc(10vh - 10px) auto 0 auto;
font-size: 65px;
text-transform: uppercase;
font-weight: normal;
display: block;
height: auto;
text-align: center;
color: white;
animation: neon 1s infinite;
}
p1, p2, p3, tr {
  font-family: "Archivo Black", "Archivo", sans-serif;
  display:block ;
  height:auto;
  color: rgb(247, 6, 6);
animation: neon 3s;
text-align: center;

}
p3 {
  border-bottom: solid whitesmoke;

}
li {  font-family: "Archivo Black", "Archivo", sans-serif;
  display:block ;
  height:auto;
  color: whitesmoke;
animation: neon .1s;
}
ul {
  border-left: solid whitesmoke;
  border-right: solid whitesmoke;
  border-bottom: solid whitesmoke;
  border-top: solid whitesmoke;

}

 