head
    title The Circle
    link(rel="stylesheet" href="pugstyle.css")
    link( href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet")

    body
    h1 The SpaceX Circle 
       h2 By Chadwick Smith

footer
        h3 Documentation 
        p  GET 
        p1 app.get('/theteam', getTeam)
        p2 This route will get you to my data,
        p3 which holds some of the most important engineers at spaceX 
        ul  
           li const engineers = [{
           li title: 'CEO/CTO',
           li name: 'Elon Musk',
           li age: 49,
           li yearsWithsx: 19,
           li about: 'Elon Reeve Musk FRS is a business magnate, industrial designer, and engineer.
           li He is the founder, CEO, CTO, and 
           li chief designer of SpaceX; early stage investor, CEO, and product architect of Tesla, Inc.; founder of The Boring Company; co-founder of Neuralink; and co-founder and initial co-chairman of OpenAI',
           li },
           li {
           li title:'Rocket engine engineer',
           li name:'Tom Mueller',
           li age: 57,
           li yearsWithsx: 19,
           li about:'Thomas Mueller is an American rocket engineer and rocket engine designer. 
           li He was a founding employee of SpaceX, an American aerospace manufacturer and space transportation services company headquartered in Hawthorne, California.
           li He is best known for his engineering work on the TR-106 and SpaceX rocket engines'
           li } Etc..

        p1 app.get('/spaceX', getSpaceX)
        p2 This route will get you to my main page which will have Information about spaceX and its latest news. 
       

